# Executáveis e objetos de C / C++
*.o
*.obj
*.exe
*.out
*.app

# Executáveis e binários do Java
*.class
*.jar
*.war

# Pastas de compilação
bin/
build/
dist/

# Configurações de IDEs
.vscode/
.idea/
